@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff"), url("/fonts/Montserrat-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat-Medium"), url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff"), url("/fonts/Montserrat-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat-Semi-Bold";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat-Semi-Bold"), url("/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/Montserrat-SemiBold.woff") format("woff"), url("/fonts/Montserrat-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff"), url("/fonts/Montserrat-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat-Extra-Bold";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat-Extra-Bold"), url("/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("/fonts/Montserrat-ExtraBold.woff") format("woff"), url("/fonts/Montserrat-ExtraBold.ttf") format("ttf");
}
/*--------------Colors-------------------------------------------------------------------------*/
/*----------Reset---------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 143%;
}

.container {
  max-width: 341px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 984px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1128px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #F6F6F6;
}
.header__container {
  min-height: 532px;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 36px 0px 0px 0px;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header__button-search {
  padding: 4px 0px 0px 0px;
  display: block;
}
.header__button-basket {
  padding: 5px 0px 0px 24px;
  display: block;
}
.header__button-menu {
  position: relative;
  width: 17px;
  height: 2px;
  background-color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  margin: 13px 0px 0px 32px;
}
.header__button-menu::before, .header__button-menu::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #737373;
}
.header__button-menu::before {
  top: 4px;
  width: 10px;
}
.header__button-menu::after {
  top: -4px;
  width: 24px;
}
@media (min-width: 768px) {
  .header__container {
    min-height: 150px;
  }
  .header__button-menu {
    background-color: #252B42;
  }
  .header__button-menu::before, .header__button-menu::after {
    background-color: #252B42;
  }
}
@media (min-width: 1024px) {
  .header {
    background-color: transparent;
  }
  .header__container {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 984px;
    padding: 0px 20px;
  }
  .header__navigation {
    min-width: 965px;
  }
  .header__button-search {
    display: none;
  }
  .header__button-basket {
    display: none;
  }

  .header-position {
    position: relative;
  }
}
@media (min-width: 1440px) {
  .header__container {
    max-width: 1183px;
    padding: 0px 0px;
  }
  .header__navigation {
    min-width: 1183px;
  }
}
.logo {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
}

.menu__list {
  margin: 110px 0px 0px 0px;
}
.menu__item {
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-align: center;
}
.menu__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.menu__link {
  color: #737373;
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex-start;
            flex-direction: flex-start;
    margin: 30px 0px 0px 0px;
  }
  .menu__item:not(:last-child) {
    margin: 0px 21px 15px 0px;
  }
}
@media (min-width: 1024px) {
  .menu__list {
    margin: -25px 5px 0px 150px;
  }
  .menu__item {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
  }
}
.banner {
  background: url("/img/background.jpg") top center/auto 100% no-repeat;
}
.banner__container {
  min-height: 1494px;
  padding: 80px 0px 0px 0px;
}
.banner__slogan {
  text-align: center;
  letter-spacing: 0.2px;
}
.banner__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  color: #252B42;
}
.banner__text {
  font-weight: 500px;
  font-size: 20px;
  line-height: 150%;
  color: #737373;
  padding: 40px 0px 0px 0px;
}
.banner__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0px 0px 0px;
}
.banner__button-block a:nth-of-type(1) {
  margin: 0px 0px 25px 0px;
}
.banner__button-size-m {
  min-width: 185px;
}
@media (min-width: 768px) {
  .banner {
    background: url("/img/background.jpg") top left/cover no-repeat;
  }
  .banner__container {
    min-height: 1000px;
  }
  .banner__slogan {
    padding: 20px 200px 0px 0px;
    text-align: left;
  }
  .banner__text {
    padding: 40px 200px 0px 0px;
  }
  .banner__button-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .banner__button-block a:nth-of-type(1) {
    margin: 0px 10px 0px 0px;
  }
}
@media (min-width: 1024px) {
  .banner__container {
    padding: 184px 0px 0px 0px;
  }
  .banner__title {
    font-family: "Montserrat-Extra-Bold", "Arial", sans-serif;
    font-size: 50px;
    line-height: 138%;
    font-weight: 900;
  }
}
@media (min-width: 1440px) {
  .banner {
    background: url("/img/background.jpg") top right/cover no-repeat;
  }
  .banner__container {
    min-height: 793px;
  }
  .banner__slogan {
    padding: 0px 56% 0px 40px;
  }
  .banner__text {
    padding: 40px 80px 0px 0px;
  }
  .banner__button-block {
    margin: 20px 0px 0px 0px;
  }
}
.button__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #00A0C1;
  border-radius: 37px;
  padding: 10px 30px;
  max-width: 154px;
  color: #00A0C1;
  font-size: 14px;
  line-height: 200%;
  font-weight: 700;
}
.button__selected {
  color: #fff;
  background-color: #FFA62B;
  border: 1px solid #FFA62B;
}

.cards__list {
  margin: 80px 0px 0px 0px;
}
.cards__item {
  width: 328px;
  min-height: 210px;
  background-color: #fff;
  padding: 35px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.cards__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.cards__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  margin: 10px 0px 10px 0px;
  color: #252B42;
}
.cards__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}
.cards__item-selected {
  background-color: #00A0C1;
}
.cards__title-selected {
  color: #fff;
}
.cards__text-selected {
  color: #fff;
}

@media (min-width: 768px) {
  .cards__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards__item {
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin: 0px 0px 30px 0px;
  }
  .cards__item:not(:nth-of-type(3n)) {
    margin: 0px 30px 30px 0px;
  }
}
@media (min-width: 1440px) {
  .cards__container {
    position: relative;
  }
  .cards__list {
    margin: 80px 40px 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
/*# sourceMappingURL=style.css.map */