.banner { 
    background: url("/img/background.jpg") top center / auto 100% no-repeat;
    &__container {
        min-height: 1494px;
        padding: 80px 0px 0px 0px;
    }

    &__slogan {
        text-align: center;
        letter-spacing: 0.2px;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 142%;
        color: $title-color;
    }

    &__text {
        font-weight: 500px;
        font-size: 20px;
        line-height: 150%;
        color: $gray-text;
        padding: 40px 0px 0px 0px;
    }

    &__button-block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 40px 0px 0px 0px;

        & a:nth-of-type(1) {
            margin: 0px 0px 25px 0px;
        }
    } 

    &__button-size-m {
        min-width: 185px;
    }

    &__cards {
    }
}
@media (min-width: $tablet) {
    .banner{
        background: url("/img/background.jpg") top left / cover no-repeat;

        &__container {
            min-height: 1000px;
        }

        &__slogan {
            padding: 20px 200px 0px 0px;
            text-align: left;
        }

        &__text {
            padding: 40px 200px 0px 0px;
        }

        &__button-block {
            flex-direction: row;
            
            & a:nth-of-type(1) {
                margin: 0px 10px 0px 0px;
            }
        }
    }
}

@media (min-width: $laptop) {
    .banner {
        &__container {
            padding: 184px 0px 0px 0px;
        }

        &__title {
            font-family: "Montserrat-Extra-Bold", "Arial", sans-serif;
            font-size: 50px;
            line-height: 138%;
            font-weight: 900;
        }
    }
}
@media (min-width: $desktop) {
    .banner {
        background: url("/img/background.jpg") top right / cover no-repeat;

        &__container {
            min-height: 793px;
        }

        &__slogan {
            padding: 0px 56% 0px 40px;
        }

        &__text {
            padding: 40px 80px 0px 0px;
        }

        &__button-block {
            margin: 20px 0px 0px 0px;
        }
    }
}
.button {

	&__link {
        display: block;
        box-sizing: border-box;
        border: 1px solid $button-color;
        border-radius: 37px;
        padding: 10px 30px;
        max-width: 154px;
        color: $button-color;
        font-size: 14px;
        line-height: 200%;
        font-weight: 700;
	}

	&__selected {
        color: $white;
        background-color: $yellow-text;
        border: 1px solid $yellow-text;
	}
}

.cards {

    &__container {
    }

    &__list {
        margin: 80px 0px 0px 0px;
    }

    &__item {
        width: 328px;
        min-height: 210px;
        background-color: $white;
        padding: 35px 40px;
        box-sizing: border-box;
        overflow: hidden;
        
        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: 0.1px;
        margin: 10px 0px 10px 0px;
        color: $title-color;
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.2px;
        color: $gray-text;
    }

    &__item-selected {
        background-color: $blue;
    }
    &__title-selected {
        color: $white;
    }
    &__text-selected {
        color: $white;
    }
}

@media (min-width: $tablet) {
    .cards {

        &__list {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            margin: 0px 0px 30px 0px;

            &:not(:nth-of-type(3n)) {
                margin: 0px 30px 30px 0px;
            }
        }
    }
}

@media (min-width: $desktop) {

    .cards {
        &__container {
            position: relative;
        }
        &__list {
            margin: 80px 40px 0px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}