.header {
    background-color: $background;

    &__container {
        min-height: 532px;
    }

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 36px 0px 0px 0px;
    }

    &__button {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &__button-search {
        padding: 4px 0px 0px 0px;
        display: block;
    }

    &__button-basket {
        padding: 5px 0px 0px 24px;
        display: block;
    }

    &__button-menu {
        position: relative;
        width: 17px;
        height: 2px;
        background-color: $gray-text;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        margin: 13px 0px 0px 32px;
        
        &::before, &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 2px;
            background-color: $gray-text;
        }
        &::before {
            top: 4px;
            width: 10px;
        }
        &::after {
            top: -4px;
            width: 24px;
        }
    }

    &__menu {
    }
}

@media (min-width: $tablet) {
        .header {

        &__container {
            min-height: 150px;
        }

        &__button-menu {
            background-color: $title-color;

            &::before, &::after {
                background-color: $title-color;
            }
        }
    }
}

@media (min-width: $laptop) {
    .header {
        background-color: transparent;

		&__container {
            position: absolute;
            top: 0;
            left: 75%;
            transform: translateX(-75%);
            max-width: 984px;
            padding: 0px 20px;
		}

		&__navigation {
            min-width: 965px;
		}

		&__button-search {
            display: none;
		}

		&__button-basket {
            display: none;
		}
        
    }
    .header-position {
        position: relative;
    }
}

@media (min-width: $desktop) {
    .header {

        &__container {
            max-width: 1183px;
            padding: 0px 0px;
        }

        &__navigation{
            min-width: 1183px;
        }
    }
}
@media (min-width: 1441px) {
    .header {
        &__container {
            left: 55%;
            transform: translateX(-55%);
		}
    }
}
.logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $title-color;
}

.menu {

    &__list {
        margin: 100px 0px 0px 0px;
    }

    &__item {
        font-size: 30px;
        line-height: 150%;
        letter-spacing: 0.2px;
        text-align: center;

        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }

    }

    &__link {
        color: $gray-text;
    }
}

@media (min-width: $tablet)  {

    .menu {

        &__list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: flex-start;
            margin: 30px 0px 0px 0px;
        }

        &__item {
            &:not(:last-child) {
                margin: 0px 21px 15px 0px;
            }
        }
    }
}

@media (min-width: $laptop) {
    .menu {

		&__list {
            margin: -25px 50px 0px 225px;
		}

		&__item {
            font-weight: 600;
            font-size: 14px;
            line-height: 171%;
		}
    }
}