.main {

    &__partners {
        min-height: 1200px;
    }
}

@media (min-width: $tablet) {
    .main {

        &__partners {
            min-height: 500px;
        }
    }
}

@media (min-width: $laptop) {
    .main {

        &__partners {
            min-height: 339px;
        }
    }
}

.partners {

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 175px;
    }

    &__block-img {
        margin: 0px 0px 25px 0px;
        overflow: hidden;
        min-width: min-content;
    }

    &__link {
        display: block;
        min-width: 100px;
    }

    &__img {
        display: block;
    }

    &__img-hooly-link {
        width: 153px;
        height: 50px;
    }

    &__img-lyft-link {
        width: 146px;
        height: 99px;
    }

    &__img-pied-piper-link {
        width: 152px;
        height: 109px;
    }

    &__img-strype-link {
        width: 149px;
        height: 60px;
    }

    &__img-aws-link {
        width: 151px;
        height: 92px;
    }

    &__img-reddit-link {
        width: 151px;
        height: 142px;
    }
    
    &__mailing-list-block {
        background-color: $bgr-blue;
        min-height: 212px;
        border-radius: 2px;
    }

    &__mailing-list-block-title {
        font-family: "Montserrat-Bold", "Arial", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 133%;
        text-align: center;
        letter-spacing: 0.1px;
        color: $white;
        padding: 30px 0px 30px;
    }

    &__mailing-list-form {
        position: relative;
        padding: 0px 38px;
    }

    &__mailing-list-input {
        border: 1px solid $border;
        border-radius: 5px;
        box-sizing: border-box;
        width: 250px;
        height: 58px;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.2px;
        color: $gray-text;
        padding: 0px 0px 0px 20px;
        overflow: hidden;
    }

    &__mailing-list-btn {
        position: absolute;
        top: 1px;
        left: 170px;
        background-color: $yellow-text;
        color: $white;
        padding: 14px 22px;
        border-radius: 0px 5px 5px 0px;
        font-size: 14px;
        line-height: 200%;
        text-align: center;
        letter-spacing: 0.2px;

        &:hover {
            background-color: $blue;
            transition-duration: .4s;
        }

        &:focus {
            border: 1px solid $black;
        }
    }
}

@media (min-width: $mobile-l) {
    .partners {
        &__mailing-list-block {
            min-width: 414px;
        }

        &__mailing-list-block-title {
            padding: 30px 74px 30px;
        }

        &__mailing-list-input {
            width: 337px;
        }

        &__mailing-list-btn {
        left: 259px;
        }
    }
}

@media (min-width: $tablet) {

    .partners {

        &__block {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding: 30px 0px 0px 0px;
        }

        &__link {

            &:focus {
                border-bottom: 1px solid $black;
            }
            
        }

        &__block-img {
            margin: 0px 42px 55px 0px;
        }

        &__img-hooly-link {
            width: 103px;
            height: 34px;

            &:hover {
                height: 55px;
            }
        }
    
        &__img-lyft-link {
            width: 83px;
            height: 59px;

            &:hover {
                height: 61px;
            }
        }
    
        &__img-pied-piper-link {
            width: 102px;
            height: 75px;

            &:hover {
                height: 77px; 
            }
        }
    
        &__img-strype-link {
            width: 103px;
            height: 42px;

            &:hover {
                height: 44px; 
            }
        }
    
        &__img-aws-link {
            width: 104px;
            height: 62px;

            &:hover {
                height: 65px; 
            }
        }
    
        &__img-reddit-link {
            width: 76px;
            height: 72px;

            &:hover {
                height: 75px; 
            }
        }

        &__mailing-list-block  {
            min-width: 800px;
        }

        &__mailing-list-form {
            padding: 0px 160px;
        }

        &__mailing-list-input {
            width: 450px;
        }

        &__mailing-list-btn {
            left: 494px;
        }
    }
}

@media (min-width: $laptop) {

    .partners {

        &__block {
            justify-content: space-around;
            padding: 80px 20px 0px;
        }
        
        &__block-img {
            margin: 0px;
            
            &:first-child {
                margin-top: 0px;
            }
        }

        &__mailing-list-block {
            max-width: 986px;
            min-height: 124px;
            display: flex;
        }

        &__mailing-list-block-title {
            padding: 30px 180px 30px 50px;
            text-align: left;
        }

        &__mailing-list-form {
            padding: 33px 40px 33px 0px;
        }

        &__mailing-list-btn {
            top: 34px;
            left: 334px;
        }
    }
}

@media (min-width: $desktop) {
    .partners {

        &__mailing-list {
                position: relative;
                padding: 48px 0px 0px 0px;

            &::after{
                content: '';
                top: 67%;
                left: 0;
                position: absolute;
                width: 100%;
                height: 77px;
                background-color: $title-color;
            }
        }

        &__mailing-list-block {
            position: relative;
            z-index: 5;
        }
    }
}

