@import "fonts.scss";
@import "vars.scss";
@import "global.scss";
@import "blocks/header.scss";
@import "blocks/banner.scss";
@import "blocks/advantages.scss";
@import "blocks/advice.scss";
@import "blocks/service.scss";
@import "blocks/partners.scss";