/*--------------Colors-------------------------------------------------------------------------*/
$white: #fff;
$black: #000;
$blue: #00A0C1;
$gray-text: #737373;
$yellow-text: #FFA62B;
$title-color: #252B42;
$button-color: #00A0C1;
$background: #F6F6F6;
$background-white: #F3F3F3;
$border: #E6E6E6;
$bgr-blue: #16697A;



$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;